body {
  background: #333;
}

.navbar {
  border-bottom: #12343b 3px solid;
}

#home-section,
#contact-section {
  background: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#resume-section,
#portfolio-section,
#about-section {
  background: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

#home-section a {
  color: #fff;
}

#web-design-body,
#database-design-body {
  background: #45808f;
}

#application-design-body {
  background: #eed0b0;
}

@media screen and (max-width: 768px) {
  #resume-section,
  #portfolio-section,
  #about-section {
    height: auto !important;
  }
}
